<div class"row">
  <div class="col-md-4">
    <h4>5 últimas músicas</h4>
    <% @lastFiveMusicsAdded.each do |music| %>
      <%= link_to music.title, music %><br>
    <% end %>
  </div>
  <div class="col-md-4">a</div>
  <div class="col-md-4">a</div>
</div>