<h3><%= glyph(:list_alt) %> Patrimônio</h3>
<%= menu_group do %>
  <%= menu_item glyph(:book) + " Patrimônio", patrimonies_path %>
  <%= menu_item glyph(:pencil) + " Adicionar item", new_patrimony_path %>
<% end %>
<br><br><br><br><br><br>