<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @patrimony_item_category.category %>
</p>

<%= link_to 'Edit', edit_patrimony_item_category_path(@patrimony_item_category) %> |
<%= link_to 'Back', patrimony_item_categories_path %>
